
    
body {
    padding: 4em 6em;
    background-color: #F9F2D7; 
    background-image: url("https://thumbs.dreamstime.com/b/chinese-grey-seamless-pattern-dragon-fish-scales-simple-seamless-pattern-nature-background-japanese-wave-circle-pattern-vecto-79534889.jpg");
}

img .campus {
    width: 100%;
    height: 100%;
}

.navbar {
    background-color: rgba(245, 222, 179, 0.98);
    border-radius: 0 0 1.5em 1.5em;
    font-size: 1.5em;
}

.caption {
    text-align: center;
}

.link-button {
    font-size: 1em;
    margin: 1em;
}


.row {
    margin: 1em;
}

.campus {
    width: 50vw;
    height: 70vh;
    margin: 0 20%;
}

.center {
    text-align: center;
}

.media:first-child {
    margin-top: 15px;
}

.campusitem {
    margin: 1em;
}

